@media (max-width: 480px) {

    #navbar li {
        display: none;
    }

    #navbar #logo {
        display: flex;
    }

    #bottom-header-links a {
        display: none;
    }

    #bottom-header-links .btn {
        display: flex;
    }

    #main-content {
        padding: 2rem;
        overflow: hidden;
    }

    #main-content #subtitle {
        font-size: 3rem;
    }
}

@media (min-width: 760px) {

    #main-content {
        padding: 2rem;
        overflow: hidden;
    }
}